<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <div class="row">
        <div class="col"></div>
          <a routerLink= "/"><img class="logoNav" src="../assets/navBar-icon-facebook-logo-.png" alt=""></a>
          <input placeholder="Recherche" type="text" name="" id="">
      
    </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <a class="nav-item padding " routerLink= "signInForm">Inscription</a>
      <a class="nav-item padding" routerLink= "home">Home</a>
      <a class="nav-item padding" routerLink= "signInForm">Link</a>
      <a class="nav-item padding" routerLink= "signInForm">Link</a>
      <a class="nav-item padding" routerLink= "signInForm">Link</a>
    </div>
  </div>
</div>
    <a class="nav-item nav-link " routerLink= "signInForm"><img class="photoUser" role="button" src="../assets/ipie.jpg"
          alt="Photo de Profil"><span>Utilisateur</span></a>

      <a class="btn btn-primary btn-circle btn-lg" href="#" role="button"></a>
      <a class="btn btn-primary btn-circle btn-lg" href="#" role="button"></a>
      <a class="btn btn-primary btn-circle btn-lg" href="#" role="button"></a>
      <div class="dropdown">
        <a class="nav-link btn btn-circle dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"></a>
        <ul class="dropdown-menu">
          <li><a href="#" class="dropdown-item">a</a></li>
          <li><a href="#" class="dropdown-item">b</a></li>
          <li><a href="#" class="dropdown-item">c</a></li>
        </ul>
    
</div>
</nav>
